doctype html  
html(lang='en')  
 head
   title Pug
   link(href='css/style.css', rel='stylesheet')
 body
   header Pug HTML, SASS CSS, and TypeScript JS!
   div
    p
        script(src='js/greeter.js')